.btn-med {
	display: block;
	border: none;
	border: 3px solid #63E9FF;
	width: 290px;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color: #485460;
	&:hover{
		text-decoration: none;
	}
	@media (min-width: 992px) { 
		width: 255px;
		margin-right: 0;
  }
	span{
		font-weight: bold;
		font-size: 18px;
		padding: 0 14px;
		background-color: #fff;
		right: 13px;
		bottom: 0;
		position: absolute;
		transform: translateY(50%);
		@media (min-width: 992px) { 
		
  }
	}
}
	@media (min-width: 992px) { 
		
  }