// @import '../css/src/reset';
// @import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox';

// @import 'base/fonts'; 
// @import 'base/grid';
// @import 'base/base';
// @import 'layout/buttons';
// @import 'layout/form';

// @import 'layout/header';
// @import 'layout/footer';


@import '../modules/breadcrumbs/breadcrumbs';
@import '../modules/expert';
@import '../modules/trend';

.wrapimg
{
    position: absolute;
    z-index: 10000000;
    left: 0;

    width: 100%;
    height: 100%;
    // display: none;

    pointer-events: none;
    height: 10000px;

    opacity: .2;
    background-image: url(../images/bg01.png);
    background-position: center 0px; 

            filter: invert(100%);
    -webkit-filter: invert(100%);
       -moz-filter: invert(100%);
         -o-filter: invert(100%);
        -ms-filter: invert(100%);
}

