.section-diseases {
	padding-top: 27px;
	padding-bottom: 27px;
	&__title {
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 36px;
		@media (min-width: 768px) { 
			font-size: 28px;
  	}
  	@media (min-width: 992px) { 
  		margin-top: 70px;
  		margin-bottom: 96px;
			font-size: 30px;
  	}
	}
	&__mediabox{
		overflow: hidden;
		img{
			display: block;
			margin-left: auto;

			
			max-width: 100%;

			@media (min-width: 1200px) { 
				margin-top: -70px;
	  	}
		}
	}
	&__form-cont {
		max-width: 350px;

		@media (min-width: 992px) { 
			width: 280px;
  	}
	}
	&__form-title {
		font-size: 16px;
		margin-bottom: 20px;
		@media (min-width: 992px) { 
			font-size: 18px;
			margin-bottom: 25px;
  	}
	}

	.contact-form__submit {
		@media (min-width: 1200px) {
			width: 215px;
			margin-left: 0;
		}
	}
}

.contact-form {
	&__inp {
		&_name {}
		&_tel {}
	}
	&__submit {}
}
.form-grid {
	&__col {}
}
	@media (min-width: 768px) { 
		
  }
