.section-equipment {
	// 	padding-top: 27px;
	// padding-bottom: 27px;
	border-bottom: 1px solid #DDEDFF;


	@media (min-width: 768px) { 
		// padding-top: 40px;
		// padding-bottom: 40px;
	}
	@media (min-width: 992px) { 
		// padding-top: 60px;
		// padding-bottom: 60px;
		border: none;
	}

}

.section {
	&__header {}
	&__sub-title {}
}

.equipment-slider {
	&__pagination {}
	&__arrow {
		&_next {}
		&_prev {}
	}
}
.equipment-grid {
	&__item {
		@media (min-width: 768px) {
			margin-bottom: 30px;
			padding: 0;
		}
	}
}

.equipment-card {
	background: #FFFFFF;
	box-shadow: 0px 10px 20px #D6E6EF;
		position: relative;
		overflow: hidden;

			@media (min-width: 768px) { 
				display: flex;
				align-items: flex-start;
				
		  }



		&:after{
			display: block;
			position: absolute;
			content: '';
			right: 0;
			bottom: 0;
			width: 430px;
			height: 430px;	
			background: #E9F7FF;
			border-radius: 50%;	
			transform: translateY(50%) translateX(50%);

			
		}

	&__mediabox {
		border-bottom: 1px solid #DDEDFF;
		overflow: hidden;
		position: relative;
		z-index: 2;
		max-width: 345px;	
		margin-left: auto;
		margin-right: auto;

		@media (min-width: 768px) { 
			flex: 0 0 315px;
			border: none;
			min-height: 290px;
		}


		img{
			width: 100%;
		}
	}
	&__body{
		padding: 24px 18px;
		position: relative;
		z-index: 2;
		@media (min-width: 768px) { 
			flex: auto;
		}

		@media (min-width: 992px) { 
				padding: 30px 64px ;
		}

	}
	&__title {
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 18px;
			@media (min-width: 768px) { 
				font-size: 20px;
				margin-bottom: 32px;				
		  }
		  @media (min-width: 992px) { 
				font-size: 24px;	
				margin-bottom: 20px;			
		  }
	}
	&__text {
		font-size: 15px;
		@media (min-width: 992px) { 
				font-size: 18px;	
							
		  }
	}
}
