.section-trend {
	padding-top: 27px;
	padding-bottom: 27px;
	border-bottom: 1px solid #DDEDFF;
	@media (min-width: 768px) { 
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@media (min-width: 992px) { 
		padding-top: 63px;
		padding-bottom: 63px;
		border: none;
	}

	&_immunity{
		@media (min-width: 992px) { 
		
		padding-bottom: 0;
	}
	}


	&__collapse{
		display: none;
		@media (min-width: 768px) { 
			display: block;
		}
	}
	&__btn-cont{
		margin-top: 22px;
		@media (min-width: 768px) {
			display: none;
		}

	}
	
	&__text {
		font-size: 15px;
		margin-bottom: 24px;

		@media (min-width: 768px) {
			padding-bottom: 20px;
				border-bottom: 1px solid #DDEDFF;
		} 

			@media (min-width: 992px) { 
				margin-bottom: 36px;
				padding-bottom: 30px;
				font-size: 24px;
		  }
	}
}

.point-card {
	background: #FFFFFF;
	box-shadow: 0px 8px 15px #D6E6EF;
	position: relative;
	font-size: 18px;
	padding: 10px 22px;

	@media (min-width: 992px) { 
		font-size: 24px;
		padding: 15px 15px 15px 35px;
	}

	&_price{
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;
		padding: 22px;

		&:after{
			display: block;
			position: absolute;
			content: '';
			right: -70px;
			bottom: -70px;
			width: 140px;
			height: 140px;		
			border-radius: 50%;
			background-color: #E9F7FF;
			
			
		}
		
	}
	&_price &__body{
		padding-right: 8px;
		font-size: 16px;
		flex: auto;
		@media (min-width: 992px) {
			padding-right: 18px;
			font-size: 24px;
		}
	}
	&_price &__price{
		font-size: 18px;
		color: #0071BB;
		font-weight: bold;
		flex: 0 0 90px;
		text-align: right;
		position: relative;
		z-index: 2;
		@media (min-width: 992px) {
			color: #485460;
			font-size: 24px;
			flex: 0 0 110px;
		}
	}
	&_price &__sub-text{
		font-size: 10px;
		color: #C4C4C4;
		@media (min-width: 992px) {
			font-size: 15px;
			display: block;
		}
	}

	&:before{
		display: block;
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 10px;
		height: 10px;	
		background: #0071BB;
		border-radius: 0px 0px 4px 0px;

		@media (min-width: 992px) { 
			width: 15px;
			height: 15px;	
		}
	}
	

}
